h1 {
	text-align : center ;
	margin-top : 15px !important ;
}

form {
	margin : auto ;
	margin-top : 50px ;
}

.container-msg {
	margin-top : 50px ;
}

.msg_accueil {
	text-align : center ;
	font-size : 2em ;
}